.nav-menu{
    display: flex;
    justify-content: space-between;
}
#header .pesquisar img{
    width: 100%;
    max-width: 25px;
}
#header .pesquisar input{
    width: 10vw;
    border-bottom: 2px solid blueviolet;
}




/* CONTENT */

.title{
    text-align: center;
}
.text-resume{
    width: 100%;
}
.text-resume p{
    font-size: 1.2rem;
    font-weight: 700;    
}
.teste-img{
    display: flex;
}
.logo img{
    width: 100%;
    max-width: 10%;
}
.introducao-dados h4{
    font-weight: bold;
    color: rgba(0, 0, 255, 0.863);
}


.image-background {
    width: 100%;
    max-width: 50vw;
}
/* TABELA */
.tabela{
    text-align: center;
    /* background: blue; */
}
.tabela tr td{
    width: 100%;
    width: 20vw;
    border-bottom: 2px solid rgb(138, 241, 233);
}
/* CALCULADORA */
.calculdora{

    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* float: left; */
}

#altura, #peso{
    margin: 10px;
}

.calcular input{
    width:8vw;
}

@media (max-width: 360px){
    .expo{
        /* display: flex; */
        flex-direction: column;
    }
    .text-resume{
        width: 100%;        
    }
    #altura, #peso{
        padding: 15px;
    }
}