.nav-menu{
    display: flex;
    justify-content: space-between;
}
#header .pesquisar img{
    width: 100%;
    max-width: 25px;
}
#header .pesquisar input{
    width: 10vw;
    border-bottom: 2px solid blueviolet;
}




/* CONTENT */

.title{
    text-align: center;
}
/* .introducao{
    display: flex;
    flex-direction: column;
} */
.introducao-dados{
    display: flex;
}
.introducao-dados h4{
    font-weight: bold;
    color: rgba(0, 0, 255, 0.863);
}
.text-resume{
    width: 100%;
    max-width:40vw;
}
.text-resume p{
    font-size: 1.2rem;
    font-weight: 700;   
    margin:0;
}
.comecar-imc{
    text-align: center;
    font-size: 1.44rem;
}
.comecar-imc a{
    background: #0069D9;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color:white;
}
.comecar-imc a:hover{
    background: #4992e0;
}
/* .teste-img{
    display: flex;
} */
.logo img{
    width: 100%;
    max-width: 10%;
}


.image-background {
    width: 100%;
    max-width: 50vw;
}
/* TABELA */
.tabela {
    text-align: left;
    margin-top: -220px;
}
.tabela tr td{
    width: 100%;
    width: 20vw;
    border-bottom: 2px solid rgb(138, 241, 233);
}
.comecar{
    margin-top:1rem;
    margin-left: 10rem;
}
.comecar a{
    color:white;
    font-size: 1.75rem;
    padding: 1rem;
    background: rgba(63, 143, 197, 0.884);
    border: 0;
    border-radius: 10px;
    text-decoration: none;
}
/* CALCULADORA */
.calculdora{
    display: flex;
    align-items: center;
}

#altura, #peso{
    margin: 10px;
}

.calcular input{
    width:8vw;
}






@media (max-width: 360px){
    .expo{
        /* display: flex; */
        flex-direction: column;
    }
    .text-resume{
        width: 100%;        
    }
    #altura, #peso{
        padding: 15px;
    }
}