body{
    padding: 15px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

#header .pesquisar input{
    width: 10vw;
    border-bottom: 2px solid blueviolet;
}




/* CONTENT */

.title{
    text-align: center;
}
/* .introducao{
    display: flex;
    flex-direction: column;
} */
.introducao-dados{
    display: flex;
}
.introducao-dados h4{
    font-weight: bold;
    color: rgba(0, 0, 255, 0.863);
}
.text-resume{
    width: 100%;
    max-width:40vw;
}
.text-resume p{
    font-size: 1.2rem;
    font-weight: 700;   
    margin:0;
}
.comecar-imc{
    text-align: center;
    font-size: 1.44rem;
}
.comecar-imc a{
    background: #0069D9;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color:white;
}
.comecar-imc a:hover{
    background: #4992e0;
}
/* .teste-img{
    display: flex;
} */
.logo img{
    width: 100%;
    max-width: 10%;
}


.image-background {
    width: 100%;
    max-width: 50vw;
}
/* TABELA */
.tabela {
    text-align: left;
    margin-top: -320px;
}
.tabela tr td{
    width: 100%;
    width: 20vw;
    border-bottom: 2px solid rgb(138, 241, 233);
}

.comecar a{
    color:white;
    font-size: 1.75rem;
    padding: 1rem;
    background: rgba(63, 143, 197, 0.884);
    border: 0;
    border-radius: 10px;
    text-decoration: none;
}
/* CALCULADORA */
.calculdora{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    margin-right: 150px;
    margin-top:10px;
}

 #peso{
    margin-left: 10px;
}

.calcular input{
    width:8vw;
    margin-left: 10px;
}



@media (max-width: 768px){

    /* TABELA */
    .tabela {
        text-align: left;
        margin-top: 0px;
    }

    .text-resume{
        width: 100%;
        max-width:30vw;
    }
    .text-resume p{
        font-size: 1.2rem;
        font-weight: 700;   
        margin:0;
    }
    
    .calcular input{
        width:20vw;
        margin-left: 10px;
    }
  
}



@media (max-width: 425px){
    .logo img{
        width: 100%;
        max-width: 30%;
    }
    
    #header .pesquisar input{
        width: 10vw;
        border-bottom: 2px solid blueviolet;
    }
    .image-background{
        display: none;
    }
    .text-resume{
        /* margin-left: -30px; */
    }
    .text-resume p{
        font-size: 1.2rem;
        font-weight: 700;   
        margin-left:-35px;
        width: 25rem;
    }
    .expo{
        flex-direction: column;
    }
    .tabela{
        margin-left:-25px;
    }
    .tabela tr td{
        width: 100%;
        width: 50vw;
        border-bottom: 2px solid rgb(138, 241, 233);
    }
    /* CALCULADORA */
    .calculdora{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 150px;
        margin-top:10px;
    }
    #peso{
        margin-left: 0px;
    }
    .calcular input{
        width:50vw;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    



}